{:level 2,
 :records
 [[true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 2]
  [true 1]
  [true 2]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 0]
  [true 1]
  [true 2]
  [true 1]
  [true 0]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 2]
  [true 2]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 2]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 3]
  [true 1]
  [true 1]
  [true 4]
  [true 6]
  [true 3]
  [true 2]
  [true 5]
  [true 3]
  [true 1]
  [true 3]
  [true 1]
  [true 1]
  [true 3]
  [true 1]
  [true 1]
  [true 1]
  [true 3]
  [true 2]
  [true 2]
  [true 3]
  [true 1]
  [true 1]
  [true 6]
  [true 2]
  [true 2]
  [true 1]
  [true 3]
  [true 3]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 2]
  [true 1]
  [true 1]
  [true 2]
  [true 2]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 3]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 1]
  [true 2]]}
