{:level 4, :records [[true 10] [true 22] [true 2] [true 1] [true 1] [true 2] [true 1] [true 2] [true 1] [true 1] [true 1] [true 1] [true 1] [true 1] [true 2] [true 2] [true 5] [true 1] [true 1] [true 1] [true 1] [true 4] [true 5] [true 3] [true 1] [true 8] [true 3] [true 4] [true 3] [true 2] [true 2] [true 4] [true 2] [true 5] [true 4] [true 3] [true 3] [true 11] [true 3] [true 6] [true 3] [true 8] [true 20] [true 23] [true 4] [false 14] [true 41] [false 10]]}